/* Google Font style */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Asterics symbol to override the styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



/* Body Section */

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
   }

/* Main */

main {
flex: 1 0 auto;
}

/* Wrapper */

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

/* Header Section */

header {
    height: 100px;
    background: #000080;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;

}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: Open Sans, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Navigation Bar Section */

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: 'Open San', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #ffffff;
    text-transform: uppercase;

}

/* Banner-Area Section */

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    margin-top: 100px;
    background-image: url(https://pbs.twimg.com/media/DX_gYhWWsAACvoN?format=jpg&name=4096x4096);
    background-size: cover;
    background-position: center center;

}

.banner-area h2 {
    padding-top: 15%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    
}

/* Content Area Section */

.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #ffffff;
    height: 500px;
}

.content-area h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    
}



/* Footer Styling */

#footer {
    z-index: 99;
    background-color: #000080;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
     }

#footer p {
    margin: 5px 0;
    
}

#footer ul.social-networks {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#footer ul.social-networks li {
    display: inline-block;
}

#footer ul.social-networks {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

footer ul.social-networks a:hover {
    color: #ffdd57;
}




