/* Google Font style */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Asterics symbol to override the styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





